<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
{% seo %}

    {% for url in page.css %}
    <link rel="stylesheet" href="{{ url }}">
    {% endfor %}
    {% for style in page.style %}
    <link rel="stylesheet" href="{{ style }}">
    {% endfor %}

  </head>

  <body>

    <header>
      <div class="container">
        <h1><a href="{{ site.baseurl }}/">{{ site.title | default: site.github.repository_name }}</a></h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <ul>
          <li>
            <a href="{{ site.baseurl }}{% link formats.md %}">Record formats</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}{% link syntax.md %}">Syntax elements</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}{% link languages.md %}">Highlighting languages</a>
          </li>
          <li class="menu-item-9">
            <a href="{{ site.github.repository_url }}">GitHub repsitory</a>
          </li>
        </ul>

      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
      {% if page.showusage %}
        {% include usage.html %}
      {% endif %}
    </div>
    
  </body>
</html>

{% for url in page.js %}
<script src='{{ url }}'></script>
{% endfor %}
{% for script in page.lib %}
<script src="{{ script | relative_url }}"></script>
{% endfor %}
{% for script in page.script %}
<script src="{{ script }}"></script>
{% endfor %}
